html, body {
  width: 100%;
  background-color: #343a40;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.row {
  --bs-gutter-x: 0.5rem;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 15px 10px 20px #df00a8, -15px 10px 20px #6000a4, -15px -10px 20px #df00a8, 15px -10px 20px #6000a4;
}